{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:yml/standard",
        "airbnb-base",
        "airbnb-typescript/base",
        "prettier"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "overrides": [
        {
            "files": ["*.yaml", "*.yml"],
            "parser": "yaml-eslint-parser"
        }
    ],
    "rules": {
        "import/prefer-default-export": 0,
        "import/no-default-export": 2
        //    "lines-between-class-members": [
        //      2,
        //      "always",
        //      {
        //        "exceptAfterSingleLine": true
        //      }
        //    ]
    }
}
